* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  height: 5rem;
  border-radius: 2rem;
  width: 25rem;
  border: 0.2rem solid darkblue;
  background-color: lightskyblue;
  color: darkblue;
  font-size: 2rem;
  padding: 1rem 0;
}

button:hover {
  border: 0.2rem solid darkgreen;
  background-color: lightgreen;
  color: darkgreen;
}

/* ------- BANNER SECTION ------- */

#banner {
  background-color: lightblue;
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner > a > img {
  height: 10rem;
}

/* ------- NAVIGATION SECTION ------- */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  color: #bb70e6;
  background-color: aliceblue;
  font-size: 2rem;
  height: 6rem;
}

/* NOT LOGGED IN SELECTORS */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4rem;
}

.login img {
  height: 3rem;
}

/* ACTIVE USER SELECTORS */

#active-user {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  color: #571f78;
}

#active-user > a, #active-user > a:visited, #active-user > a:hover {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgba(87, 31, 120, 0.5);
}

#active-user-avatar {
  grid-row: span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#active-user-avatar > img {
  border-radius: 50%;
  height: 4.5rem;
}

#active-user > span, #active-user > a, #active-user > a:visited, #active-user > a:hover {
  text-align: center;
  align-self: center;
  padding-left: 1rem;
}

/* OTHER NAV LINK STYLING */

nav > a, nav > a:visited {
  text-decoration: none;
  align-items: center;
  color: #bb70e6;
}

nav > a:hover {
  color: #571f78;
  background-color: #d4aeeb;
}


/* ------- LIVE FEED SECTION ------- */

#more-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  margin: 2rem;
}

#more-login > a {
  text-decoration: none;
  margin: 2rem 0;
}

#more-login > a > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-icon {
  height: 4rem;
}

#live-feed-container {
  width: 45%;
  margin: 0 auto;
}

#live-feed-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  border: 1px dashed black;
  position: relative;
}

#live-feed-tile:nth-child(odd) {
  flex-direction: row;
  background-color: rgb(2, 216, 228);
  color: rgb(0, 56, 59);
}

#live-feed-tile:nth-child(even) {
  flex-direction: row-reverse;
  background-color: rgb(207, 63, 138);
  color: rgb(73, 22, 48);
}

/* img#delete-project-button-live {
  position: absolute;
  bottom: 0.5rem;
  left: 55rem;
}

img#edit-project-button-live {
  position: absolute;
  bottom: 0.5rem;
  left: 50rem;
} */

#edit-delete-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
}

img#delete-project-button-live, img#edit-project-button-live, img#see-more-project-button-live {
  height: 4rem;
  padding: .5rem 1rem;
}

.creator {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.creator > img /*avatar img*/ {
  align-self: center;
  border-radius: 50%;
  height: 5rem;
  margin: 0 1rem;
}

.tile > img {
  height: 40rem;
  display: flex;
  align-self: center;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: left;
  padding: 0 5rem;
}

.details > h5 {
  font-size: 4rem;
}

/* ------- MY PROJECTS SECTION ------- */
/* INDEX VIEW */
#my-project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}

#my-project-header > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

#my-project-header > a {
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

#my-project-header > .color-code {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 3rem 0 0 0;
}

#my-project-header > .color-code > div {
  margin: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

#my-project-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

#my-project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 2rem;
  position: relative;
}

#my-project-tile > img {
  height: 50rem;
}

img#delete-project-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

img#edit-project-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

img#delete-project-button, img#edit-project-button {
  height: 4rem;
}

.green {
  background-color: lightgreen;
  border: 0.2rem solid darkgreen;
}

.blue {
  background-color: skyblue;
  border: 0.2rem solid darkblue;
}


#my-project-tile > h5 {
  font-size: 3rem;
}

#my-project-tile > p {
  font-size: 2rem;
}

#no-projects {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* ------- SHOW VIEW ------- */
#project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-creator-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#show-project-info {
  display: flex;
  align-items: center;
}

#project-details img {
  height: 10rem;
}



/* COMMENT SECTION */

#comment {
  display: flex;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  margin: 0 5rem;

}

#comment > * {
  padding: 1rem;
}

#comment-form {
  display: flex;
  flex-direction: column;
}

#comment-form > input[type="submit"] {
  width: 50%;
  align-self: flex-end;
}

#comment-form > textarea {
  font-family: Arial, Helvetica, sans-serif;
  /* width: 125rem; */
}

#comment-text {
  width: 50rem;
  height: 5rem;
}

#comment-content {
  grid-column: 2 / span 2;
}

#comment-details {
  display: grid;
  grid-template-rows: 2.5rem fit-content(100%);
  grid-template-columns: 5rem 20rem 100rem 5rem;
  margin: 2rem auto;
  width: 130rem;
  font-size: 1.5rem;
}

#comment-details > img {
  height: 5rem;
  border-radius: 50%;
  grid-row: span 2;
}

#comment-date, #comment-author, #comment-content {
  margin-left: 1rem;
  display: flex;
  align-items: center;

}

#comment-content {
  overflow-wrap: anywhere;
}

#comment-delete-button > button {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem;
  background-color: lightgrey;
  border-color: darkgrey;
}

#comment-delete-button > button:hover {
  background-color: lightblue;
  border-color: navy;
}

#comment-delete-button > button > img {
  height: 2.5rem;
}

/* ------- FOOTER SECTION ------- */
footer {
  height: 5rem;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  padding: 2rem;
}